* {
    box-sizing: border-box;
    margin: 0px;
}

/* Make it Mobile First */
/* Write only Mobile properties. */

.section-1,
.section-2 {
    display: none;
}

/* Nav-bar starts */
.section-3 {
    display: flex;
    justify-content: space-between;
    overflow: auto;     /* Important property. This property is needed whenever we apply display flex. (For small screen size.)*/ 
    overflow-x: hidden;     /* Important property. */
}

.right {
    display: flex;
    gap: 0.4rem;
    justify-content: center;
    flex-grow: 1;
    /* border: 1px solid black; */
    align-items: center;

}

.left {
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-end;
    /* flex-basis: 40%; */
    flex: 1;
}

.login {
    display: flex;
    flex-wrap: nowrap;
}

/* Nav-bar ends */

/* Search-bar starts*/
.section-4 {
    border-radius: 1rem;
    background-color: aliceblue;
    padding: 0.4rem;
}

.search {
    display: flex;
}

.input-width {
    width: 100%;
    flex: 1 1 auto;
    border: none;
    background-color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* border: 1px solid black; */
}
/* Search-bar ends */


@media only screen and (max-width:1190px) and (min-width:780px) {

}

@media only screen and (min-width:1190px) {
    /* Write css for this mobile css is done */
    .section-3,.section-4
    {
        display: none;
    }
}