* {
    box-sizing: border-box;
    margin: 0px;
}

/* Make it Mobile First */
/* Write only Mobile properties. */


.section-1,
.section-2 {
    display: none;
}

/* Nav-bar starts */
.section-3 {
    display: flex;
    justify-content: space-between;
    overflow: auto;
    /* Important property. This property is needed whenever we apply display flex. (For small screen size.)*/
    overflow-x: hidden;
    /* Important property. */
    font-size: large;
    gap: 1rem;
}

.right {
    display: flex;
    gap: 0.4rem;
    justify-content: center;
    flex-grow: 1;
    /* border: 1px solid black; */
    align-items: center;

}

.left {
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-end;
    /* flex-basis: 40%; */
    flex: 1;
}

.login {
    display: flex;
    flex-wrap: nowrap;
}

/* Nav-bar ends */

/* Search-bar starts*/
.section-4 {
    border-radius: 0.6rem;
    background-color: aliceblue;
    padding: 0.4rem;
    
}

.search {
    display: flex;
    
}

.input-width {
    width: 100%;
    flex: 1 1 auto;
    border: none;
    background-color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* border: 1px solid black; */
}


/* Search-bar ends */


@media only screen and (max-width:1190px) and (min-width:780px) {

    .section-3,
    .section-4 {
        display: none;
    }

    .container {
        display: flex;
        gap: 1rem;
    }

    .section-1 {
        display: flex;
        gap: 1rem;
        flex: 1 1 auto;
        
    }

    .l-search {
        display: flex;
        align-items: center;
        flex-grow: 1;
        /* flex-basis: 100%; */
        padding: 0.4rem;
        background-color: aliceblue;
    }

    .img {
        display: flex;
    }

    .l-input {
        /* display: flex;       Why does it not take the full width ( with display: flex) even after applyting flex-grow as 1*/
        flex: 1 1 auto;
        /* width: 100px; */
    }

    .l-input-width {
        width: 100%;
        border: none;
        flex: 1 1 auto;
        background-color: transparent;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0.2rem;
    }
    .l-input-width::placeholder
    {
        font-size: large;

    }
    .section-2 {
        display: flex;
        align-items: center;
        flex: 1 1 10%;
        justify-content: space-around;
        font-size: large;
    }

    .cart,
    .extra,
    .seller {
        display: flex;
        flex-wrap: nowrap;
    }
    .title
    {
        display: none;
    }
    
}

@media only screen and (min-width:1190px) {


    .section-3,
    .section-4 {
        display: none;
    }

    .container {
        display: flex;
        gap: 1rem;
    }

    .section-1 {
        display: flex;
        gap: 1rem;
        flex: 1 1 auto;
        
    }

    .l-search {
        display: flex;
        align-items: center;
        flex-grow: 1;
        /* flex-basis: 100%; */
        padding: 0.4rem;
        background-color: aliceblue;
    }

    .img {
        display: flex;
    }

    .l-input {
        /* display: flex;       Why does it not take the full width ( with display: flex) even after applyting flex-grow as 1*/
        flex: 1 1 auto;
        /* width: 100px; */
    }

    .l-input-width {
        width: 100%;
        border: none;
        flex: 1 1 auto;
        background-color: transparent;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0.2rem;
    }
    .l-input-width::placeholder
    {
        font-size: large;

    }
    .section-2 {
        display: flex;
        align-items: center;
        /* gap: 2rem; */
        flex: 1 1 10%;
        justify-content: space-evenly;
        font-size: large;
    }

    .cart,
    .extra,
    .seller {
        display: flex;
        flex-wrap: nowrap;
    }

}